.result {
  position: absolute;
  top: 0;
  background: #067FB2;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 272px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #067FB2;
}
.result-no {
  opacity: 0;
}
.result-no.is-growing {
  animation: 2s grow 2s 1 forwards
}
.result-should {
  font-size: 17px;
  position: absolute;
  left: 91px;
  top: 41px;
}
.result-tweet {
  position: absolute;
  font-size: 12px;
  text-decoration: none;
  left: 55px;
  bottom: -19px;
  color: white;
}
.result-tweet.is-entering {
  opacity: 0;
  animation: 2s fadein 6s 1 forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes grow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1.4);
  }
}
