.tweetAnalyzer {
  position: absolute;
  top: 0;
  left: 0px;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0099cc;
  background: rgb(6, 127, 178);
  font-size: 22px;
}
.tweetAnalyzer-container {
  text-align: center;
  padding-bottom: 50px;
}
.tweetAnalyzer-words {
  margin-bottom: 70px;
  min-height: 124px;
  width: 370px;
  text-align: left;
  line-height: 35px;
  padding: 31px;
  border: 6px solid #0099CC;
  background: black;
}
.tweetAnalyzer-word {
  &.is-emphasised {
    animation: flutter 0.4s infinite;
    background: rgba(#0099cc, 0.5);
    padding: 2px;
    border: #0099cc 1px solid;
    margin-left: -3px;
    color: #94C7D8;
    margin-right: -3px;

  }
}
.tweetAnalyzer-Desc {
  color: white;
  text-align: left;
  margin-bottom: 25px;
  margin-top: 100px;
}


@keyframes flutter {
  0% {
    background: rgba(#0099cc, 0.5)
  }
  85% {
    background: rgba(#0086CC, 0.8)
  }
}



