.tweetInput {
}
.tweetInput-characterCount {
  color: gray;
  float: right;
  padding: 10px;
  margin: 10px;
}
.tweetInput-characterCount.is-over {
  color: rgb(219, 81, 81);
}
.tweetInput-textarea {
  background: #ffffff;
  border: 2px solid rgb(219, 219, 219);
  font-family: inherit;
  font-size: 18px;
  height: 104px;
  margin: 15px 0px 0px;
  padding: 20px;
  width: 100%;
  resize: none;
  transition: border 0.5s;
  &:focus {
    outline: none;
    border-bottom: 0.2em solid rgb(28, 142, 190);
  }
}
.tweetInput-btn {
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #1C8EBE;
  float: right;
  transition: background 0.75s, border-color 0.75s;
  cursor: pointer;
  color: #1C8EBE;
  &:hover {
    background: rgba(#1C8EBE, 0.2);
    border-color: rgba(#1C8EBE, 0.5);
  }
}
