.statPanel {
  padding: 29px;
  background: rgba(233, 242, 245, 0.93);
  margin-bottom: 50px;
  text-align: center;
  color: rgb(28, 142, 190);
  transition: background 1s, border 0.2s;
  border-right: 0px solid #7bcbe2;
  border-left: 0px solid #7bcbe2;
  &:hover {
    background: rgba(223, 242, 245, 1);
    border-width: 8px;
  }
}
.statPanel-stat {
 font-size: 30px;
}
.statPanel-desc {
  font-size: 21px;
  margin-top: 10px;
}
.statPanel-stat, .statPanel-desc {
  transition: transform 1s;
  .statPanel:hover & {
     transform: scale(1.1)translateZ(0)
   }
 }



