.tweetAnalyzer {
  padding: 29px;
  background: rgba(28, 142, 190, 0.32);
  float: left;
  margin-right: 33px;
  margin-bottom: 50px;
}
.tweetAnalyzer-count {
 font-size: 30px;
}
.tweetAnalyzer-desc {
  font-size: 21px;
  margin-top: 10px;
}
