_auth="bW1vcnJpc3NleTptTTQ4NTAxNSE="
email=mikehmorrissey@gmail.com
scope=mmorrissey
@mmorrissey:registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=34357bc5-155b-4ea7-89be-bf2885e2febb
