html
  head
    title SHITI ALGORITHM
    link(rel="stylesheet" type="text/css" href="/assets/css/application.min.css")
    link(href='http://fonts.googleapis.com/css?family=Ubuntu+Mono|Inconsolata' rel='stylesheet' type='text/css')
    script(src="/assets/js/bundle.js")
  body
    .app-container!=app
